@model ProductsViewModel
@{
    ViewData["Title"] = "Barcha muzqaymoqlar";
}
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="admin-root">
                <h3>Barcha muzqaymoqlar</h3>
                <form asp-controller="admin" asp-action="products" method="post" class="mb-5 mt-3">
                    <input type="text" placeholder="Mahsulotni oson izlang ..." class="search-txt">
                    <button type="submit" class="site-btn">Qidirish</button>
                </form>
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Nomi</th>
                                <th>Kelish narxi</th>
                                <th>Narxi</th>
                                <th>Qutilar</th>
                                <th>Qutida</th>
                                <th>Massasi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AllProducts)
                            {
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="/img/product/@item.ImageUrl" alt="@item.Name">
                                        <h5>@item.Name</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        @item.WholesalePrice
                                    </td>
                                    <td class="shoping__cart__total">
                                        @item.Price
                                    </td>
                                    <td class="shoping__cart__total">
                                        @item.NumberOfBoxes
                                    </td>
                                    <td class="shoping__cart__total">
                                        @item.NumberOfBox
                                    </td>
                                    <td class="shoping__cart__total">
                                        @item.Massa
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href=""><i class="fas fa-pen"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

