@model ProductViewModel
@{
    ViewData["Title"] = Model.Product.Name;
}

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="/img/product/@Model.Product.ImageUrl" alt="@Model.Product.Name">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Product.Name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product__details__price">@Model.Product.Price so'm</div>
                    <ul>
                        <li>
                            <b>Sotuvda</b>
                            @{
                                if (Model.Product.NumberOfBoxes != 0)

                                {
                                    <span>Mavjud</span>
                                }
                                else
                                {
                                    <span>Mavjud emas</span>
                                }
                            }
                        </li>
                        <li><b>Har bir qutida</b> <span>@Model.Product.NumberOfBox ta</span></li>
                        <li><b>Massasi</b> <span>@Model.Product.Massa gramm</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
